.nav-basic {
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
    z-index: 1;
}

.on-scroll {
    background-color: white;
    box-shadow: 5px 0px 30px rgb(16 19 48 / 8%);

}


.navbar {
    background-color: #e2eaee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
    padding: 10px 80px;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-logo {
    display: flex;
    color: #f5b921;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
}

.nav-logo img {
    width: 150px;
    height: auto;
}

.nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
    align-items: center;
    padding: 0;
    margin: 0;

}

.nav-links {
    color: #2374e1;
    text-decoration: none;
    height: 100%;
    border-bottom: 3px solid transparent;
    font-weight: 500;
}

.nav-links:hover {
    color: #f5b921;
}

.nav-links:focus {
    color: #f5b921;
}



.fa-code {
    margin-left: 1rem;
}

.nav-item {
    line-height: 40px;
    margin-right: 2rem;
}

.nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
    width: 100%;
    background: #2374e1;
}

.nav-item .active {
    color: #ffdd40;
    border: 1px solid #ffdd40;
}

.nav-icon {
    display: none;
}

@media only screen and (max-width: 667px) {
    .navbar {
        padding: 10px 20px;
    }

    .nav-menu.active {
        z-index: 1;
        top: 90px;
    }
}

@media screen and (max-width: 960px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 70%;
        position: absolute;
        top: 130px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #2374e1;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        top: 90px;
    }

    .nav-item .active {
        color: #ffdd40;
        border: none;
    }

    .nav-links {
        padding: 10px 0;
        width: 100%;
        display: table;
        margin: 0 0 0 -15px;
        color: white;
    }

    .nav-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #2374e1;
    }
}

@media only screen and (max-width: 1024px) and (min-width:700px) {
    .navbar {
        padding: 10px 20px;
    }

}

@media only screen and (max-width: 1440px) and (min-width:1025px) {
    .navbar {
        padding: 10px 50px;
    }

}