.subscribe-section img {
    display: flex !important;
    align-items: left;
    justify-content: start;
}

.subscribe {
    display: flex;
}

.footer-top-text {
    text-align: left;
    margin: 0px 0 0 30px;
}

.subscribe input {
    width: 100%;
    height: 50px;
    border: 0;
}

.subscribe button {
    border: none;
    background-color: #2374e1;
    text-transform: capitalize;
    color: #091627;
    font-weight: bold;
    padding: 0 40px;
    border: 1px solid #2374e1 !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subscribe button:hover {
    background-color: #091627;
    color: #e2eaee;
    transition: all 0.9s ease;
    border: 1px solid #2374e1 !important;
}

.footer-main {
    background-color: #e2eaee;
}

.footer-sections {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-start;
}

.first-colum p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #091627;
    text-align: left;
    margin-top: 18px;
}

.first-colum h6 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #091627;
    margin: 30px 0px;
}

.social3,
.social4,
.social5 {
    color: #091627;
    text-align: center;
    padding: 11px;
    width: 45px;
    height: 45px;
    font-size: 25px;
    border: 1px solid #091627;
    border-radius: 100%;
}

.social3:hover {
    color: rgba(255, 255, 255, 0.814);
    border: 1px solid #1877F2;
    background-color: #1877F2;
}

.social4:hover {
    color: rgba(255, 255, 255, 0.814);
    border: 1px solid #1877F2;
    background-color: #1877F2;
}

.social5:hover {
    background: linear-gradient(#962fbf, #4f5bd5)
}


.footer-head {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #091627;
    text-align: left;
}

.footer-link {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091627;
    display: block;
    text-align: left;
    margin-top: 10px;
}

.footer-link:hover {
    color: #2374e1;
}

.divider {
    display: block;
    opacity: 0.1;
    border: 2px solid #091627;

}

.footer-last {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #091627;

}

@media only screen and (max-width: 667px) {
    .footer-top-text {
        margin-top: 20px;
        text-align: center;
    }

    .subscribe-section img {
        margin: 0px auto 040px;
    }

    .subscribe-section label {
        text-align: center;
        margin: 0px 0 15px 0;
        line-height: 35px;
    }


    .subscribe {
        display: block;
    }

    .subscribe button {
        border: none;
        margin-top: 20px;
        padding: 13px 30px;
        width: 100%;
    }

    .network {
        display: flex !important;
        align-items: center;
        justify-content: space-around;
        margin: 0;
    }


    .footer-main {
        padding: 5px 5px;
        margin-bottom: -150px;

    }

    .footerTop-main {
        padding: 30px 5px;
        margin-bottom: 180px;
        width: 100%;
    }

    .footer-header h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 35px;
        padding: 8px;
    }

    .footer-header button {
        font-size: 16px;
        line-height: 28px;
        padding: 10px 20px;
    }

    .footer-sections {
        margin-top: 0px;
        align-items: center;
        flex-direction: column;
    }

    .first-colum {
        text-align: center;
    }

    .first-colum p {
        text-align: center;
        margin-top: 17px;
    }

    .first-colum h6 {
        font-size: 12px;
        line-height: 14px;
        margin: 30px 0px;
    }

    .footer-head {
        font-size: 25px;
        line-height: 28px;
        text-align: center;
        margin: 50px 0 20px 0px;
    }

    .footer-link {
        text-align: center;
    }

    .divider {
        border: 1px solid #F3EFE4;
    }

    .social3,
    .social4,
    .social5 {
        padding: 8px;
        width: 35px;
        height: 35px;
        font-size: 20px;
    }


}

@media only screen and (max-width:991px) and (min-width:668px) {

    .subscribe-section img {
        width: 100%;
        height: auto;
        margin: 30px auto 10px;
    }

    .subscribe-section label {
        text-align: right;
        line-height: 35px;
    }


    .subscribe {
        display: flex;
    }

    .subscribe button {
        border: none;
        padding: 10px 5px;
    }

    .network {
        width: 50%;
        display: flex !important;
        align-items: center;
        justify-content: space-around;
        margin: 0;
    }



    .social3,
    .social4,
    .social5 {
        padding: 8px;
        width: 35px;
        height: 35px;
        font-size: 20px;
    }





    .footer-sections {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-main {
        padding: 10px 25px;
        margin-bottom: -200px;
    }

    .footerTop-main {
        padding: 40px 10px;
        width: auto;
        margin-bottom: 120px;
    }

    .footer-header h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 35px;
        padding: 8px;
    }

    .footer-header button {
        font-size: 16px;
        line-height: 28px;
        padding: 10px 20px;
    }

    .footer-sections {
        margin-top: 0px;
        align-items: center;
        flex-direction: column;
    }

    .first-colum {
        text-align: center;
    }

    .first-colum p {
        text-align: center;
        margin-top: 17px;
    }

    .first-colum h6 {
        font-size: 12px;
        line-height: 14px;
        margin: 30px 0px;
    }

    .footer-head {
        font-size: 25px;
        line-height: 28px;
        text-align: center;
        margin: 50px 0 20px 0px;
    }

    .footer-link {
        text-align: center;
    }

    .divider {
        border: 1px solid #F3EFE4;
    }

}

@media only screen and (max-width: 1200px) and (min-width:992px) {}