.pricing-main {
    /*  background-image: url(../../../Images/computer-2982270__340.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    /*  background-color: #2374e1; */
    background-color: white;
}


.contentWrapper {
    height: 100%;
    width: 100%;
}


.card-body h4 {
    color: #7b7c7e;
}

.pricing-card {
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.pricing-card:hover {
    transition: all 0.5s;
}

.divide {
    border-bottom: 2px solid #7b7c7e;
    width: 100%;
}

@media only screen and (max-width: 667px) {}



@media only screen and (max-width:991px) and (min-width:668px) {}

@media only screen and (max-width: 1200px) and (min-width:992px) {}