.pricing-main {
    background-image: url(../../../Images/computer-2982270__340.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.31);
}


.pricing {
    box-shadow: 0 1px 18px -10px rgb(0 0 0 / 30%);
}

.card-body h4 {
    color: #7b7c7e;
}

.pricing-card {
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}


.pricing-card:hover {
    transition: all 0.5s;
}

.divide {
    border-bottom: 2px solid #7b7c7e;
    width: 100%;
}

@media only screen and (max-width: 667px) {}



@media only screen and (max-width:991px) and (min-width:668px) {}

@media only screen and (max-width: 1200px) and (min-width:992px) {}