.masking-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 667px) {
    .masking-main {
        flex-direction: column;
    }
}